$background: #fff;
$color: #000;

:root {
  background: $background;
  color: $color;
}

a {
  text-decoration: none;
  &:link {
    color: blue;
  }
  &:visited {
    color: indigo;
  }
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: 1px dotted;
  }
  &:active {
    outline-width: 0;
  }
}

@import './_part.scss';